@import "./variables";
@import "./mixins";


header{
    background-image: url("../assets/home/home-1.jpeg");
    height:100vh;
    background-repeat:no-repeat;
    background-size: cover;
    color: #000000;
    background-position: 50%;
}

.header{

    &__wrapper {
        max-width:2000px;
        width:95%;
        margin:0 auto;
    }


    &__number{
        text-align: center;
        background-color:$secondary__1;
        position: absolute;
        bottom: -11px;
        right: -5px;
        width: 30px;
        height: 30px;
        font-size: 14px;
        display: inline-block;
        border-radius: 50%;
        color: white;
        line-height: 30px;
    }


    &__nav {
        display: flex;
        justify-content: space-between;

        h1{
            @include font__headings(46px,24px,0.6px)
        }
    }

    &__list {
        display:flex;
        list-style: none;
        align-items: center;
        @include font__headings(18px,36px,0.6px)
    
    }

    &__link 
    a {
        text-decoration: none;
        padding:15px;
        color: #000000;
    }

    &--highlight 
    a {
        color: $secondary__1;
    }

    &--bag{
        position: relative;
    }

    &__bar{
        text-align: right;
    }

    &__label{
        font-size: 24px;
        display: none;
    }
    
    &__toggle{
        display: none;
    }
    
}




@media(max-width: 1300px){
    
    header{
        height: 70vh;
    }
}


@media(max-width: 1100px){

    .header__list {
        font-size: 15px;
    }

    .header__nav h1 {
        font-size: 38px;
    }
}


@media (max-width: 986px) {


    .header__link a {
        padding: 7px;
    }

    .header__list {
        font-size: 14px;
    }
}


@media (max-width: 940px) {

    header{
        height: 60vh;
    }
}


@media (max-width: 768px) {

    .header__nav h1 {
        text-align: center;
    }

    .header__toggle{
        display: none;
    }
    
    .header__list {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 18px;
        background-color: #f1f1f1bf;
    }

    .header__list li a{
        display: block;
        
    }


    .header__nav {
        justify-content: space-between;
        flex-direction: column;
    }

    .header__number {
        bottom: -7px;
        right: 45%;
    }


    .header__label{
        display: block;
        cursor: pointer;
        position: absolute;
        font-size: 52px;
        right: 2%;
        top: 1%;
    }

    .header__toggle:checked + .header__list {
        display: none;
    }
    
}


@media (max-width: 480px) {

    .header__wrapper{
        width:100%;
    }

    header{
        height: 50vh;    
    }   
}


