@import "./variables";
@import "./mixins";

.content {
    &__first {
        display: flex;
        
    }

    &__underline {
        border-bottom: 3px solid $secondary__1;
        padding-bottom: 15px;
    }

    &__text {
        text-align: center;
        width: 50%;
        align-self: center;
        font-size:14px;
        font-family: 'Lora', serif;
        line-height: 24px;
        letter-spacing: 0.3px;
        color: #333333;

        h2 {
            @include font__headings(26px ,36px ,0.5px);
            
        }

        p {
            display: flex;
            padding: 40px 0 30px 0;
            width:76%;
            margin: 0 auto;
        }
    }

    &__btn {
        font:  14px  Raleway, sans-serif;
        font-weight: bold;
        line-height: 24px;
        letter-spacing: 0.3px;
        padding:10px 30px;
        background: $secondary__1;
        color:#F6F6F6;
        border: none;
    }

    &__salad {
        width: 50%;
        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__second {
        display: flex;
        background: #F6F6F6;
    }

    

    &__tacos {
        width: 50%;
        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__menu {
        width: 50%;
        display: flex;
        align-items: center;
        max-width: 1500px;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
        list-style-type: none;
    }

    &__list {
        display: flex;
        width: calc(50% - 30px);
        margin:20px 15px;
        @include  font__body;

        h4 {
            @include font__headings(18px ,24px ,0.5px);
        }
        p {
            color: $primary__1;
            font-size: 12px;
            line-height: 18px;
        }

        i {
            font-size: 35px;
            margin-right: 30px;
        }
    }

    &__btn:hover {
        border: 2px solid black;
        color: $secondary__1;
        background:$primary__3;
        cursor: pointer;
    }

    &__btn:focus {
        border: 2px solid black;
        color: $secondary__1;
        background:$primary__3;
        cursor: pointer;
    }


}


.banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 150px;
    
    &__images {
        margin-top: 150px;
        position: relative;
    }

    &__chairs{
        max-width: 100%;
    }

    &__circle{
        max-width: 100%;
    }

    &__sticker {
        position: absolute;
        top: -110px;
        right: 117px;
        width: 50%;
    }

    &__underline {
        border-bottom: 3px solid $secondary__1;
        padding-bottom: 15px;
    }

    &__text {
        width: 50%;
        margin: 0 auto;
        h2 {
            @include font__headings(26px ,36px ,0.5px);
            padding: 40px 0;
        }

        p {
            @include  font__body;
            color: $primary__1;
        }
    }
}


.gallery {
    
    &__picture {
        display: flex;
        flex-wrap: wrap;

        img {
            display: block;
            width: calc(100% /3);
        }
    } 
}


.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #DDED9A;
    
    &__container {
        text-align: center;
        width: 60%;
        margin: 0 auto;
        margin: 150px auto;

        h2 {
            @include font__headings(26px ,36px ,0.5px);
        }
    }

    &__quote {
        padding: 50px 0;
        position: relative;
        @include font__quote;
    }

    &__quote::before {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        font-size: 38px;
        content: "\f10d";
        position: absolute;
        font-style: normal;
        color: white;
        top: 10%;
        left: -7%;
    }

    &__quote::after {
        font-family: "Font Awesome 5 Free"; 
        font-size: 36px;
        font-weight: 900; 
        color: white;
        content: "\f10e";
        font-style: normal;
        position: absolute;
        bottom: 30%;
        right: -7%;
    }

    &__icons {
        text-decoration: none;
        font-size: 30px;
    }

    &__lighter {
        color: #f3efef;
        margin: 20px;
    }

    &__darker {
        color: $primary__5;
    }

    span {
        border-bottom: 3px solid $secondary__1;
        padding-bottom: 15px;
    }
}



@media(max-width: 1300px) {

    .content__list {
        width: 100%;
        margin: 10px 15px;

        h4 {
            font-size:15px
        }

        p {
            font-size: 10px;
            line-height: 14px;
        }
    }


}



@media(max-width: 1100px) {

    .content__first {
        flex-direction: column;
    }

    .content__salad {
        width: 60%;
        margin: 40px auto;
    }

    .content__text {
        width: 80%;
        margin: 20px auto;
    }

    .content__second {
        flex-direction: column-reverse;
    }

    .content__tacos {
        width: 60%;
        margin: 40px auto;
    }

    .content__menu {
        width: 80%;
        margin: 20px auto;
    }
}

@media (max-width: 768px) {

    .content__text {
        width: 100%;
    }

    .content__salad {
        width: 80%;
    }

    .content__menu {
        width: 100%;
    }

    .content__tacos {
        width: 80%;
        margin: 40px auto;
    }

    .banner{
        margin: 125px auto;
    }

}

@media (max-width: 480px) {
    .content__text p {
        width: 100%;
    }

    .content__salad {
        width: 100%;
        margin: 0;
    }

    .content__container {
        width: 100%;
    }

    .content__tacos {
        width: 100%;
    }

    .banner__text {
        width: 100%;
    }

    .review__container {
        width: 80%;
        margin: 100px auto;
    }

}

