@import "./variables";

@mixin font__headings($sizeValue,$sizeHeight,$sizeSpacing) {
    font-weight: bold;
    font-family: Raleway, sans-serif;
    font-size: $sizeValue;
    line-height: $sizeHeight;
    letter-spacing: $sizeSpacing;
}

@mixin font__footer() {
    font-size:13px;
    font-family: 'Lora', serif;
    line-height: 30px;
    letter-spacing: 0.3px;
}

@mixin font__body() {
    font-size:14px;
    font-family: 'Lora', serif;
    line-height: 24px;
    letter-spacing: 0.3px;
}

@mixin font__quote {
    font-size:24px;
    font-family: 'Lora', serif;
    line-height: 36px;
    letter-spacing: 0.6px;
    font-style: italic;
}